html {
    background-color: #FFFAFA;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    
    /* customizing scrollbar in firefox | https://webplatform.news/issues/2019-07-25 */
    scrollbar-width: thin;
    scrollbar-color: #AF8E9A #F6EDED;
}

/* custom scrollbar, chrome/opera/safari | https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #F6EDED;
}

::-webkit-scrollbar-thumb {
    background: #AF8E9A; 
}

::-webkit-scrollbar-thumb:hover {
    background: #92435F;
}

/* Border around visible screen area | https://stackoverflow.com/questions/34664351/css-border-around-my-web-page */
html::before {
    content: '';
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 2px solid #92435F;
    z-index: 1;
}

body {
    font-family: Inter, "Source Sans Pro", sans-serif;
}


/* /////////////////////////////////////////////////////////

                    TEXT ELEMENT STYLING 

//////////////////////////////////////////////////////// */

h1, h2, h3 {
    color: #92435F;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    margin: 0;
}

h2 {
    font-family: "Roboto Mono", Roboto, monospace;
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0.5em;
}

h3 {
    margin: 4em 10em 0em;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

h3:first-of-type {
    margin-top: 5em;
}

p {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: black;
    margin: 1.5em 10em;
}

code {
    font-family: "Roboto Mono", Roboto, monospace;
    font-size: 0.875em;
    display: block;
    padding: 1em;
    background-color: #FFFFFF;
}

/* changing list bullet | https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type */
ul {
    list-style-type: '+  ';
    color: #92435F;
    padding-left: 1.2em;
}

li {
    padding-bottom: 0.25em;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5em;
}

figcaption {
    color: #AF8E9A;
    text-align: center;
    font-family: "Roboto Mono", Roboto, monospace;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    font-style:oblique;
    padding: 0 8em;
    margin: 0.5em;
}

span {
    display: block;
}

.proj-one-liner {
    color: #AF8E9A;
    font-size: 1.75em;
    font-weight: 400;
    margin: 1em 0 0.5em 0;
}

.proj-context-title, .proj-context{
    font-size: 0.875em;
    letter-spacing: 0.02em;
}

.proj-context-title {
    text-transform: uppercase;
    color: #92435F;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.proj-context {
    margin-bottom: 1.25em;
}

.subtext {
    margin: 0 0 3em 0;
}




/* /////////////////////////////////////////////////////////

                        LINK STYLING

//////////////////////////////////////////////////////// */
a {
    position: relative;
    font-size: inherit;
    letter-spacing: inherit;
    text-decoration: none;
    color: #92435F;
    z-index: 2;
}

nav {
    padding-bottom: 1.5em;
}

nav>a {
    font-family: "Roboto Mono", Roboto, monospace;
    font-size: 0.75rem;
    display: block;
    padding: 1em 3em;
}

nav>a:hover, nav>a:focus, .card-button:hover, .card-button:focus, .sidebar-active {
    background-color: #92435F;
    color: #FFFFFF;
}

#social-links>a {
    text-align: center;
    margin-top: 0.5em;
}

#social-links>a:first-of-type {
    margin-bottom: 1.5em;
}

.link-in-text:hover, .link-in-text:focus, li>a:hover, li>a:focus, figcaption>a:hover, figcaption>a:focus {
    text-decoration: underline;
}



/* /////////////////////////////////////////////////////////

                HEADER + FOOTER STYLING

//////////////////////////////////////////////////////// */
header {
    border: 2px solid #92435F;
    z-index: 3;
    background-color: #FFFAFA;
    
    position: fixed;
}

#logo {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: inherit;
    color: #92435F;
    margin: 0;
    padding: 1.5em 1em 0 1.1em;
}

#logo-label {
    font-family: "Roboto Mono", Roboto, monospace;
    font-size: 0.75em;
    display: block;
    padding: 0.5em 3em 0 3em;
}

#social-links {
    border: 2px solid #92435F;
    position: fixed;
    z-index: 2;
}

#social-links img {
    width: 25px;
}



/* /////////////////////////////////////////////////////////

                    CONTAINER ELEMENT STYLING

//////////////////////////////////////////////////////// */
.box-content {
    position: relative;
    padding: 3.5em;
    border-color: #92435F;
    border-style: solid;
    
    /* border-width property | https://www.w3schools.com/cssref/pr_border-width.asp */
    border-width: 2px 0px 2px 0px;
    z-index: 2;
    
    /* scrolling inside a div | https://www.w3schools.com/cssref/css3_pr_overflow-y.asp */
    overflow-y: scroll;
}

.projects-card {
    position: relative;
    border-bottom: 2px solid #92435F;
    padding: 0 4em;
}

.projects-card img {
    width: 100%;
    border: 1px solid #92435F;
}

.content-block {
    margin-top: 6em;
}

.card-content {
    margin-left: 2em;
}

.content-desc {
    font-size: 0.75rem;
    display: inline-block;
    margin: 0;
    padding: 0 2em 0 0;
}

.card-button {
    font-family: "Roboto Mono", Roboto, monospace;
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid #92435F;
    display: inline-block;
    text-align: center;
}

.project-context {
    margin-top: 3em;
}

.proj-header {
    width: 100%;
    margin: auto;
    border: 1px solid #92435F;
    margin-bottom: 1em;
}

figure {
    border: 1px solid rgba(175,142,154,0.3); 
    text-align: center;
    margin: 1.5em 0;
}

figure img, figure video {
    border-bottom: 1px solid rgba(175,142,154,0.3); 
    width: 100%;
}

video:focus {
    outline: none;
}

#img-afterthought {
    width: 75%;
    margin: 1.5em auto;
}

.about-text {
    margin: 1.5em 0;
}


/* ////////////////////////////////////////////////////////

                STYLE GUIDE-SPECIFIC STYLES

//////////////////////////////////////////////////////// */

section:not([id]){
    border-bottom: 1px solid #92435F;
    padding: 1em;
}

#style-guide {
    padding: 1em 0;
}

section h3, section p {
    margin-left: 0;
}

section h3:first-of-type {
    margin-top: 1em;
}

section>#projects, section>.projects-card {
    left: 0;
}

.colour-swatch {
    display: block;
    padding: 1em;
    border-color: #92435F;
    border-style: solid;
    border-width: 2.5px 2.5px 0 2.5px;
}

.colour-swatch:last-of-type {
    border-width: 2.5px;
}

#text {
    background-color: #000000;
}

#text p {
    color: #FFFAFA;
}

#accent {
    background-color: #92435F;
    color: #FFFFFF;
}

#background {
    background-color: #FFFAFA;
}

#context {
    background-color: #AF8E9A;
}